<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ma super application Express</h1>
    <p>Les memebres de mon équipe sont: seulement moi, Étienne Ménard</p>
  </body>
</html>
